body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  font-size: 14px;
  line-height: 1.2;
  color: var(--body-text-color);
  background: var(--body-bg);
}

#svelte {
  display: flex;
  flex-direction: column;
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  max-width: 800px;
  padding: 15px 15px;
  box-sizing: border-box;
  margin: 85px auto;
  background: var(--main-bg);
  border: 1px solid var(--main-border);
  border-radius: 1px;
  min-height: 50vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: var(--anchor-text);
  text-decoration: none;
}

a:visited {
  color: var(--anchor-text);
}

a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid var(--input-border);
  padding: 5px;
}

button {
  font-size: 1.2em;
  background: var(--button-bg);
  border-radius: 2px;
  padding: 10px 15px;
  border: 1px solid var(--button-border);
  cursor: pointer;
  color: var(--button-text);

  &:hover {
    background: var(--button-bg-hover);
  }

  &:active {
    background: var(--button-bg-active);
  }

  &[disabled] {
    opacity: 0.35;
    pointer-events: none;
    cursor: not-allowed;
  }

  &.primary {
    border: 1px solid var(--button-primary-border);
    background: var(--button-primary-bg);
    color: var(--button-primary-text);

    &:hover {
      background: var(--button-primary-bg-hover);
    }

    &:active {
      background: var(--button-primary-bg-active);
    }
  }
}



p, label, input {
  font-size: 1.3em;
}

ul, li, p {
  padding: 0;
  margin: 0;
}

.hidden {
  opacity: 0;
}

@media (max-width: 767px) {
  main {
    padding: 5px 5px;
    margin: 75px auto;
  }
}