:root {
  --button-primary-bg: #668cff;
  --button-primary-text: white;
  --button-primary-border: #1e3066;
  --button-primary-bg-active: #99b3ff;
  --button-primary-bg-hover:  #446add;

  --button-bg: #ededed;
  --button-text: #333;
  --button-border: #ededed;
  --button-bg-active: #fafafa;
  --button-bg-hover: #ddd;

  --input-border: #dadada;
  --anchor-text: royalblue;
  --main-bg: white;
  --body-bg: #ebeffb;
  --body-text-color: #333;
  --main-border: #ededed;

  --form-bg: #fafafa;
  --form-border: #ccc;

  --nav-bg: royalblue;
  --nav-border: #3a5eca;
  --nav-a-border: royalblue;
  --nav-a-selected-border: white;
  --nav-a-selected-bg: #7e93e9;
  --nav-a-bg-hover: #a3b1f0;
  --nav-a-border-hover: #a3b1f0;
  --nav-text-color-hover: #f6f7fd;
  --nav-svg-fill-hover: #f6f7fd;
  --nav-svg-fill: white;
  --nav-text-color: white;
}