<ModalDialog
  {id}
  {label}
  {title}
  background="var(--main-bg)"
>
  <div class="custom-emoji-container">
    <emoji-mart props-json={emojiMartPropsJson} >
    </emoji-mart>
  </div>
</ModalDialog>
<style>
  .custom-emoji-container {
    max-width: calc(100vw - 20px);
  }
</style>
<script>
  import ModalDialog from './ModalDialog.html'
  import { store } from '../../../_store/store'
  import { insertEmoji } from '../../../_actions/emoji'
  import { show } from '../helpers/showDialog'
  import { close } from '../helpers/closeDialog'
  import { oncreate as onCreateDialog } from '../helpers/onCreateDialog'
  import { define } from 'remount/es6'
  import { loadCSS } from '../../../_utils/loadCSS'
  import Picker from '../../../_react/emoji-mart'

  export default {
    oncreate() {
      onCreateDialog.call(this)
      loadCSS('/emoji-mart.css')
      if (!customElements.get('emoji-mart')) {
        define({ 'emoji-mart': Picker })
      }
    },
    components: {
      ModalDialog
    },
    store: () => store,
    data: () => ({
      title: 'Emoji',
      color: 'var(--nav-bg)'
    }),
    computed: {
      emojiMartPropsJson: ({ emojiMartProps }) => JSON.stringify(emojiMartProps),
      emojiMartProps: ({ title, color, perLine }) => ({
        title,
        color,
        perLine,
        recent: null
      }),
      perLine: ({ $isMobileSize }) => $isMobileSize ? 8 : 9,
      emojis: ({ $currentCustomEmoji }) => {
        if (!$currentCustomEmoji) {
          return []
        }
        return $currentCustomEmoji.filter(emoji => emoji.visible_in_picker)
      }
    },
    methods: {
      show,
      close,
      onClickEmoji (emoji) {
        let { realm } = this.get()
        insertEmoji(realm, emoji)
        this.close()
      }
    }
  }
</script>
