<GenericConfirmationDialog
  {id}
  {label}
  {title}
  {positiveText}
  {negativeText}
  on:positive
  on:negative>
  <p>{text}</p>
</GenericConfirmationDialog>
<style>
  p {
    font-size: 1.3em;
    padding: 40px 20px;
  }
</style>
<script>
  import GenericConfirmationDialog from './GenericConfirmationDialog.html'
  import { show } from '../helpers/showDialog.js'
  import { close } from '../helpers/closeDialog.js'
  import { oncreate } from '../helpers/onCreateDialog.js'

  export default {
    oncreate,
    data: () => ({
      title: undefined,
      positiveText: undefined,
      negativeText: undefined
    }),
    methods: {
      show,
      close
    },
    components: {
      GenericConfirmationDialog
    }
  }
</script>
