.DS_Store
node_modules
.sapper
__sapper__
yarn.lock
templates/.*
static/*.css
/mastodon
mastodon.log
static/robots.txt
/inline-script-checksum.json
/static/inline-script.js.map
/templates/.*
/src/manifest/
