.DS_Store
/node_modules
/__sapper__
/mastodon
/mastodon.log
/src/template.html
/static/*.css
/static/icons.svg
/static/inline-script.js.map
/static/emoji-*.json
/static/manifest.json
/src/inline-script/checksum.js
yarn-error.log

.now
.vercel
