<ModalDialog
  {id}
  {label}
  background="var(--muted-modal-bg)"
  muted="true"
  className="video-modal-dialog"
>
  <video {poster}
         {src}
         {width}
         {height}
         aria-label="Video: {description || ''}"
         controls
  />
</ModalDialog>
<style>
  :global(.video-modal-dialog video) {
    object-fit: contain;
    max-width: calc(100vw - 20px);
    max-height: calc(100% - 20px);
    overflow: hidden;
  }
</style>
<script>
  import ModalDialog from './ModalDialog.html'
  import { show } from '../helpers/showDialog'
  import { oncreate as onCreateDialog } from '../helpers/onCreateDialog'
  import { close } from '../helpers/closeDialog'

  export default {
    oncreate () {
      onCreateDialog.call(this)
      this.close = this.close.bind(this)
      history.pushState({type: 'video-dialog'}, null, location.pathname)
      window.addEventListener('popstate', this.close)
    },
    ondestroy () {
      window.removeEventListener('popstate', this.close)
    },
    components: {
      ModalDialog
    },
    methods: {
      close,
      show
    }
  }
</script>