$main-theme-color: royalblue;
$body-bg-color: lighten($main-theme-color, 38%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;

$whatever: royalblue;

@import "_base.scss";

:root {
  @include baseTheme();
}
