$main-theme-color: #4ab92f;
$body-bg-color: lighten($main-theme-color, 45%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 30%);

@import "_base.scss";

body.theme-gecko {
  @include baseTheme();
}
