$main-theme-color: hotpink;
$body-bg-color: lighten($main-theme-color, 25%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 15%);
$compose-background: lighten($main-theme-color, 17%);

@import "_base.scss";

body.theme-hotpants {
  @include baseTheme();
}
