$main-theme-color: hotpink;
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;

@import "_base.scss";

body.theme-hotpants {
  @include baseTheme()
}
