$main-theme-color: blueviolet;
$body-bg-color: lighten($main-theme-color, 40%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;

@import "_base.scss";

body.theme-majesty {
  @include baseTheme();
}
