$main-theme-color: rgb( 16,61,80);
$body-bg-color: #03131b;
$main-bg-color: #000;
$anchor-color: lighten($main-theme-color, 20%);
$main-text-color: #fafaff;
$border-color: $body-bg-color;
$secondary-text-color: #f6f6ff;
$toast-border: lighten($body-bg-color, 4%);
$toast-bg: lighten($body-bg-color, 4%);
$focus-outline: lighten($main-theme-color, 10%);
$compose-background: darken($main-theme-color, 12%);

@import "_base.scss";
@import "_dark.scss";
@import "_dark_scrollbars.scss";

:root {
  --settings-list-item-text: #{$anchor-color};
  --settings-list-item-text-hover: #{$anchor-color};
  --settings-list-item-bg-active: #{darken($body-bg-color, 10%)};
  --settings-list-item-bg-hover: #{darken($body-bg-color, 2%)};

  --button-bg: #{lighten($body-bg-color, 5%)};
  --button-border: #{$border-color};
  --button-bg-hover: #{lighten($body-bg-color, 10%)};
  --button-bg-active: #{lighten($body-bg-color, 15%)};

  --form-bg: #{$body-bg-color};
  --form-border: #{darken($border-color, 10%)};


  --action-button-fill-color: #{$main-theme-color};
  --action-button-fill-color-hover: #{lighten($main-theme-color, 4%)};
  --action-button-fill-color-active: #{darken($main-theme-color, 13%)};
  --action-button-fill-color-pressed: #{lighten($main-theme-color, 20%)};
  --action-button-fill-color-pressed-hover: #{lighten($main-theme-color, 24%)};
  --action-button-fill-color-pressed-active: #{lighten($main-theme-color, 7%)};
}
