$main-theme-color: crimson;
$body-bg-color: lighten($main-theme-color, 38%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;

@import "_base.scss";

body.theme-scarlet {
  @include baseTheme();
}
