:root {
  $deemphasized-color: #666;

  --button-primary-bg: #{$main-theme-color};
  --button-primary-text: #{$secondary-text-color};
  --button-primary-border: #{darken($main-theme-color, 10%)};
  --button-primary-bg-active: #{lighten($main-theme-color, 9%)};
  --button-primary-bg-hover: #{lighten($main-theme-color, 5%)};

  --button-bg: #{darken($main-bg-color, 10%)};
  --button-text: #{$main-text-color};
  --button-border: #{darken($border-color, 20%)};
  --button-bg-active: #{darken($main-bg-color, 25%)};
  --button-bg-hover: #{darken($main-bg-color, 5%)};

  --input-border: #{$border-color};
  --input-border-radius-size: 4px;
  --input-bg: #{$main-bg-color};
  --input-placeholder-color: #{$deemphasized-color};
  --anchor-text: #{$anchor-color};
  --main-bg: #{$main-bg-color};
  --body-bg: #{$body-bg-color};
  --body-text-color: #{$main-text-color};
  --main-border: #{$border-color};
  --svg-fill: #{$main-theme-color};

  --form-bg: #{darken($main-bg-color, 3%)};
  --form-border: #{darken($border-color, 10%)};

  --nav-bg: #{$main-theme-color};
  --nav-active-bg: #{lighten($main-theme-color, 3%)};
  --nav-border: #{darken($main-theme-color, 10%)};
  --nav-a-selected-bg: #{lighten($main-theme-color, 3%)};
  --nav-a-selected-active-bg: var(--nav-a-selected-bg-hover);
  --nav-svg-fill: #{$secondary-text-color};
  --nav-text-color: #{$secondary-text-color};
  --nav-indicator-bg: #{$main-theme-color};
  --nav-indicator-bg-active: #{mix($secondary-text-color, $main-theme-color, 90%)};
  --nav-indicator-bg-hover: #{mix($secondary-text-color, $main-theme-color, 60%)};

  --nav-a-selected-border-hover: #{$secondary-text-color};
  --nav-a-selected-bg-hover: #{lighten($main-theme-color, 4.5%)};
  --nav-a-bg-hover: #{lighten($main-theme-color, 1.5%)};
  --nav-svg-fill-hover: #{$secondary-text-color};
  --nav-text-color-hover: #{$secondary-text-color};

  --action-button-fill-color: #{lighten($main-theme-color, 11.5%)};
  --action-button-fill-color-hover: #{lighten($main-theme-color, 6%)};
  --action-button-fill-color-active: #{$main-theme-color};
  --action-button-fill-color-pressed: #{darken(saturate($main-theme-color, 5%), 6%)};
  --action-button-fill-color-pressed-hover: #{darken(saturate($main-theme-color, 5%), 12%)};
  --action-button-fill-color-pressed-active: #{darken(saturate($main-theme-color, 5%), 15%)};

  --action-button-deemphasized-fill-color: #{$deemphasized-color};
  --action-button-deemphasized-fill-color-hover: #{lighten($deemphasized-color, 22%)};
  --action-button-deemphasized-fill-color-active: #{lighten($deemphasized-color, 5%)};
  --action-button-deemphasized-fill-color-pressed: #{darken($deemphasized-color, 7%)};
  --action-button-deemphasized-fill-color-pressed-hover: #{darken($deemphasized-color, 2%)};
  --action-button-deemphasized-fill-color-pressed-active: #{darken($deemphasized-color, 15%)};

  --settings-list-item-bg: #{$main-bg-color};
  --settings-list-item-text: #{$main-theme-color};
  --settings-list-item-text-hover: #{$main-theme-color};
  --settings-list-item-border: #{$border-color};
  --settings-list-item-bg-active: #{darken($main-bg-color, 10%)};
  --settings-list-item-bg-hover: #{darken($main-bg-color, 2%)};

  --toast-bg: #{$toast-bg};
  --toast-border: #{$toast-border};
  --toast-text: #{$secondary-text-color};
  --toast-button-hover: #{lighten($toast-bg, 5%)};
  --toast-button-active: #{lighten($toast-bg, 10%)};
  --toast-anchor-color: #{lighten($anchor-color, 20%)};

  --mask-bg: #{$toast-bg};
  --mask-svg-fill: #{$secondary-text-color};
  --mask-opaque-bg: #{rgba($toast-bg, 0.8)};
  --loading-bg: #{#ededed};

  --account-profile-bg-backdrop-filter: #{rgba($main-bg-color, 0.85)};
  --account-profile-bg: #{rgba($main-bg-color, 0.9)};

  --deemphasized-text-color: #{$deemphasized-color};
  --focus-outline: #{$focus-outline};

  --very-deemphasized-text-color: #757575;
  --very-deemphasized-link-color: var(--very-deemphasized-text-color);

  --status-direct-background: #{darken($body-bg-color, 5%)};
  --main-theme-color: #{$main-theme-color};
  --warning-color: #{#e01f19};
  --alt-input-bg: #{rgba($main-bg-color, 0.9)};

  --muted-modal-text: #{$secondary-text-color};
  --muted-modal-bg: #{transparent};
  --muted-modal-focus: #{#999};
  --muted-modal-hover: #{rgba(255, 255, 255, 0.2)};

  --compose-autosuggest-item-hover: #{$compose-background};
  --compose-autosuggest-item-active: #{darken($compose-background, 5%)};
  --compose-autosuggest-outline: #{lighten($focus-outline, 5%)};

  --compose-button-halo: #{rgba(255, 255, 255, 0.1)};

  --file-drop-mask: #{rgba(255, 255, 255, 0.8)};

  --banner-fill: #{$main-theme-color};

  --tab-bg: #{$main-bg-color};
  --tab-bg-non-selected: #{darken($main-bg-color, 3%)};
  --tab-bg-active: #{darken($main-bg-color, 25%)};
  --tab-bg-hover: #{darken($main-bg-color, 2%)};
  --tab-bg-hover-non-selected: #{darken($main-bg-color, 5%)};

  --tooltip-bg: rgba(30, 30, 30, 0.9);
  --tooltip-color: white;

  --floating-button-bg: #{rgba($main-bg-color, 0.8)};
  --floating-button-bg-hover: #{darken(rgba($main-bg-color, 0.9), 5%)};
  --floating-button-bg-active: #{darken(rgba($main-bg-color, 0.9), 10%)};

  --length-indicator-color: #{$main-theme-color};

  --audio-bg: #{rgba(30, 30, 30, 0.8)};

  --focal-img-backdrop-filter: #{rgba($main-bg-color, 0.5)};
  --focal-img-bg: #{rgba($main-bg-color, 0.3)};
  --focal-bg: #{rgba($toast-bg, 0.8)};
  --focal-bg-drag: #{rgba($toast-bg, 0.9)};
  --focal-bg-hover: #{lighten(rgba($toast-bg, 0.8), 5%)};
  --focal-color: #{$secondary-text-color};

  --blurhash-sensitive-text-color: #{lighten($deemphasized-color, 40%)};

  --focus-bg: #{rgba(0, 0, 0, 0.1)};

  --verified-text-color: #00703C;
  --verified-bg-color: #E1EFE8;

  accent-color: #{$main-theme-color};
  color-scheme: light;
}
