:root {
  $deemphasized-color: lighten($main-bg-color, 45%);

  --action-button-deemphasized-fill-color: #{$deemphasized-color};
  --action-button-deemphasized-fill-color-hover: #{lighten($deemphasized-color, 22%)};
  --action-button-deemphasized-fill-color-active: #{lighten($deemphasized-color, 5%)};
  --action-button-deemphasized-fill-color-pressed: #{darken($deemphasized-color, 7%)};
  --action-button-deemphasized-fill-color-pressed-hover: #{darken($deemphasized-color, 2%)};
  --action-button-deemphasized-fill-color-pressed-active: #{darken($deemphasized-color, 15%)};

  --loading-bg: #{#222};

  --deemphasized-text-color: #{$deemphasized-color};

  --very-deemphasized-link-color: #{rgba($anchor-color, 0.8)};
  --very-deemphasized-text-color: #{lighten($main-bg-color, 32%)};

  --status-direct-background: #{darken($body-bg-color, 5%)};
  --main-theme-color: #{$main-theme-color};
  --warning-color: #{#c7423d};
  --alt-input-bg: #{rgba($main-bg-color, 0.9)};

  --muted-modal-bg: #{transparent};
  --muted-modal-focus: #{#999};
  --muted-modal-hover: #{rgba(255, 255, 255, 0.2)};

  --compose-button-halo: #{rgba(0, 0, 0, 0.1)};

  --compose-autosuggest-item-hover: #{lighten($main-bg-color, 10%)};
  --compose-autosuggest-item-active: #{lighten($main-bg-color, 15%)};
  --compose-autosuggest-outline: #{lighten($border-color, 20%)};

  --file-drop-mask: #{rgba(30, 30, 30, 0.8)};

  --settings-list-item-text: #{$main-text-color};
  --settings-list-item-text-hover: #{$main-text-color};
  --settings-list-item-bg-active: #{lighten($main-bg-color, 7%)};
  --settings-list-item-bg-hover: #{lighten($main-bg-color, 3%)};

  --banner-fill: #{lighten($main-theme-color, 10%)};

  --tab-bg: #{$main-bg-color};
  --tab-bg-non-selected: #{darken($main-bg-color, 2%)};
  --tab-bg-active: #{lighten($main-bg-color, 15%)};
  --tab-bg-hover: #{lighten($main-bg-color, 1%)};
  --tab-bg-hover-non-selected: #{darken($main-bg-color, 1%)};

  --toast-anchor-color: #{$anchor-color};

  --length-indicator-color: var(--action-button-fill-color);

  --blurhash-sensitive-text-color: #{lighten($deemphasized-color, 15%)};

  --focus-bg: #{rgba(255, 255, 255, 0.1)};
}
