:root {
  --nav-bg: #{lighten($body-bg-color, 10%)};
  --nav-a-bg-hover: #{lighten($body-bg-color, 25%)};
  --nav-active-bg: #{lighten($body-bg-color, 35%)};
  --nav-a-selected-bg: #{lighten($body-bg-color, 25%)};
  --nav-a-selected-bg-hover: #{lighten($body-bg-color, 40%)};
  --nav-a-selected-active-bg: #{lighten($body-bg-color, 50%)};

  --button-primary-bg: #{darken($main-theme-color, 5%)};
}
