:root {
  --scrollbar-face-color: #{$scrollbar-face};
  --scrollbar-track-color: #{$scrollbar-track};
  --scrollbar-border-radius: 0;
  --scrollbar-face-color-hover: #{$scrollbar-face-hover};
  --scrollbar-face-color-active: #{$scrollbar-face-active};
  --scrollbar-width: calc(20px + .25em);
  --scrollbar-height: calc(20px + .25em);
  --scrollbar-background-color: transparent;
}
