$main-theme-color: #444;
$main-bg-color: #202020;
$body-bg-color: darken($main-bg-color, 5%);
$anchor-color: #999;
$main-text-color: #FFF;
$border-color: lighten($body-bg-color, 10%);
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 50%);
$compose-background: lighten($main-theme-color, 52%);

@import "_base.scss";
@import "_dark.scss";
@import "_dark_navbar.scss";
@import "_dark_scrollbars.scss";

:root {
  --action-button-fill-color: #{lighten($main-theme-color, 5%)};
  --action-button-fill-color-hover: #{lighten($main-theme-color, 12%)};
  --action-button-fill-color-active: #{darken($main-theme-color, 15%)};
  --action-button-fill-color-pressed: #{lighten($main-theme-color, 80%)};
  --action-button-fill-color-pressed-hover: #{lighten($main-theme-color, 50%)};
  --action-button-fill-color-pressed-active: #{lighten($main-theme-color, 80%)};
}
