$main-theme-color: #4ab92f;
$body-bg-color: lighten($main-theme-color, 45%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 30%);
$compose-background: lighten($main-theme-color, 32%);

@import "_base.scss";
@import "_light_scrollbars.scss";

:root {
  accent-color: #{darken($main-theme-color, 5%)};
}
