$main-theme-color: #666;
$body-bg-color: lighten($main-theme-color, 38%);
$anchor-color: lighten($main-theme-color, 5%);
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 15%);
$compose-background: lighten($main-theme-color, 17%);

@import "_base.scss";
@import "_light_scrollbars.scss";

:root {
  // make the action buttons a bit lighter
  --action-button-fill-color: #{lighten($main-theme-color, 17%)};
  --action-button-fill-color-hover: #{lighten($main-theme-color, 10%)};
  --action-button-fill-color-active: #{lighten($main-theme-color, 5%)};
}
