$main-theme-color: hotpink;
$body-bg-color: lighten($main-theme-color, 25%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 15%);
$compose-background: lighten($main-theme-color, 17%);

// override scrollbar color to improve contrast
$scrollbar-face: #{lighten($main-theme-color, 12%)};
$scrollbar-face-hover: #{lighten($main-theme-color, 14%)};
$scrollbar-face-active: #{lighten($main-theme-color, 10%)};

@import "_base.scss";
@import "_light_scrollbars.scss";

:root {
  accent-color: #{darken($main-theme-color, 5%)};
}
