$main-theme-color: #1DA1F2;
$main-bg-color: white;
$body-bg-color: #F5F8FA;
$main-text-color: #333333;
$secondary-text-color: #66757F;
$anchor-color: $main-theme-color;
$border-color: #ECF1F4;
$toast-border: lighten($body-bg-color, 4%);
$toast-bg: lighten($body-bg-color, 4%);
$focus-outline: lighten($main-theme-color, 30%);
$compose-background: lighten($main-theme-color, 32%);

@import "_base.scss";
@import "_light_scrollbars.scss";

:root {
  --nav-bg: #{$main-bg-color};
  --nav-active-bg: #{$main-bg-color};
  --nav-a-selected-bg: #{$main-bg-color};
  --nav-a-selected-bg-hover: #{$main-bg-color};
  --nav-a-bg-hover: #{$main-bg-color};
  --nav-a-border: none;

  --nav-indicator-height: 5px;
  --nav-indicator-bg: #{$main-theme-color};
  --nav-indicator-bg-hover: #{$main-theme-color};

  --nav-text-color-hover: #{$main-theme-color};

  --svg-fill: #{lighten($main-theme-color, 30%)};
  --nav-svg-fill-hover: #{$main-theme-color};

  --deemphasized-text-color: #{lighten($main-text-color, 25%)};
  --very-deemphasized-text-color: #{$secondary-text-color};
  --button-primary-text: #{lighten($secondary-text-color, 100%)};

  --action-button-fill-color: #{lighten($main-theme-color, 30%)};
  --action-button-fill-color-hover: #{$main-theme-color};
  --action-button-fill-color-active: #{darken($main-theme-color, 40%)};
  --action-button-fill-color-pressed: #{$main-theme-color};
}

.nav-link-badge {
  color: #{lighten($secondary-text-color, 100%)} !important;
  border: 2px solid #{$main-bg-color} !important;
  background: #{$main-theme-color} !important;
}
