$main-theme-color: #000;
$body-bg-color: #000;
$main-bg-color: #000;
$anchor-color: lighten($main-theme-color, 90%);
$main-text-color: #fafaff;
$border-color: #222;
$secondary-text-color: #f6f6ff;
$toast-border: lighten($body-bg-color, 4%);
$toast-bg: lighten($body-bg-color, 4%);
$focus-outline: lighten($main-theme-color, 50%);
$compose-background: darken($main-theme-color, 12%);

@import "_base.scss";
@import "_dark.scss";
@import "_dark_scrollbars.scss";

:root {
  --settings-list-item-text: #{$anchor-color};
  --settings-list-item-text-hover: #{$anchor-color};
  --settings-list-item-bg-active: #{darken($body-bg-color, 10%)};
  --settings-list-item-bg-hover: #{darken($body-bg-color, 2%)};

  --button-primary-bg: #{lighten($body-bg-color, 10%)};
  --button-primary-border: #{$border-color};
  --button-primary-bg-hover: #{lighten($body-bg-color, 15%)};
  --button-primary-bg-active: #{lighten($body-bg-color, 15%)};

  --button-bg: #{lighten($body-bg-color, 10%)};
  --button-border: #{$border-color};
  --button-bg-hover: #{lighten($body-bg-color, 15%)};
  --button-bg-active: #{lighten($body-bg-color, 15%)};

  --form-bg: #{$body-bg-color};
  --form-border: #{darken($border-color, 10%)};

  --action-button-fill-color: #{lighten($main-theme-color, 20%)};
  --action-button-fill-color-hover: #{lighten($main-theme-color, 30%)};
  --action-button-fill-color-active: #{darken($main-theme-color, 40%)};
  --action-button-fill-color-pressed: #{lighten($main-theme-color, 85%)};
  --action-button-fill-color-pressed-hover: #{lighten($main-theme-color, 100%)};
  --action-button-fill-color-pressed-active: #{lighten($main-theme-color, 80%)};
}
