*:focus, .focus {
  outline: 2px solid var(--focus-outline);
}

.container:focus {
  // the outline causes choppy rendering on Edge and isn't visible or necessary anyway
  // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17343598/
  outline: none;
}

/* Special class to make focus outlines easier to see in some odd
 * cases where the outline would be clipped. */
.focus-after {
  position: relative;
}

.focus-after:focus {
  outline: none;
}

.focus-after:focus::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  border: 2px solid var(--focus-outline);
  pointer-events: none;
}

@media (max-width: 320px) {
  *:focus, .focus {
    outline: 3px solid var(--focus-outline);
  }

  .focus-after:focus::after {
    border: 3px solid var(--focus-outline);
  }
}
