@font-face {
  font-family: PinaforeRegular;
  src: local("BlinkMacSystemFont"),
  local("Segoe UI"),
  local("Roboto"),
  local("Oxygen-Sans"),
  local("Ubuntu"),
  local("Cantarell"),
  local("Fira Sans"),
  local("Droid Sans"),
  local("Helvetica Neue");
}

@font-face {
  font-family: PinaforeEmoji;
  src: local("Apple Color Emoji"),
  local("Segoe UI Emoji"),
  local("Segoe UI Symbol"),
  local("Twemoji Mozilla"),
  local("Noto Color Emoji"),
  local("EmojiOne Color"),
  local("Android Emoji");
}
